body {
    background-color:  black;
    color: lightgray;
    font-size: 48%;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  dx-viewport {
    background-color:  black;
    color: lightgray;
    font-size: 48%;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a href {
    display: none;
    text-decoration: none;
    font-size: 26px;
  }
  
   #buttonContainer {
    background-color: red;
    border: none;
    color: rgb(12, 12, 12);
    text-align: center;
    text-decoration: none;
    display:flexbox;
    margin-left: 35px;
    margin-right: 750px;
    width: 5%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }
    
    header {
      background: var(--secondary);
      padding: 30px 25px;
      border-bottom: 5px solid var(--primary);
    }
    
    header p {
      color: var(--tertiary);
      margin: 5px 0 20px;
      font-size: 2rem;
    }
    
    p,
    li {
      font-size: 1.6rem;
    }
    
    form {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }
    
    form input {
      outline: none;
      border: none;
      padding: 12px;
      width: 100%;
      font-size: 2.2rem;
      border: 2px solid var(--grey);
      border-radius: 12px;
    }
    
    form .form-group {
      margin: 10px 6px 10px 0;
      flex: 1;
    }
    
    footer {
      width: 100%;
      background: var(--secondary);
      color: var(--tertiary);
      font-size: 2.4rem;
      padding: 20px;
      border-top: 5px solid var(--primary);
    }
    
    .page-title {
      color: var(--primary);
      margin-bottom: 5px;
      margin-top: 0;
      font-size: 4.5rem;
    }
    
    .page-content {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 25px auto;
      width: 95%;
    }
    
    .task-list-wrapper {
      flex: 1;
      margin: 0 20px 20px;
    }
    
    .list-title {
      color: var(--secondary);
      font-size: 2.6rem;
    }
    
    .task-list {
      list-style: none;
      padding: 15px;
      height: calc(100% - 50px);
      background: rgb(196, 196, 196);
      border-radius: 12px;
      border: 2px solid var(--grey);
    }
    
    .task-item {
      color: var(--grey);
      padding: 15px 15px;
      border: 2px solid var(--grey);
      background: var(--tertiary);
      border-radius: 12px;
      margin-bottom: 20px;
    }
    
    .task-name {
      margin: 0;
      font-size: 1.8rem;
    }
    
    .task-type {
      color: var(--secondary);
      font-size: 1.55rem;
    }
    .task-actions {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 10px 0 5px 0;
      justify-content: space-between;
    }
    
    .task-actions button,
    .task-actions select {
      flex: 1;
    }
    
    .btn {
      outline: none;
      border: none;
      display: inline-block;
      padding: 10px 15px;
      background: var(--primary);
      font-size: 2.2rem;
      border-radius: 12px;
      position: relative;
      top: -3px;
      box-shadow: 0 3px var(--grey);
    }
    
    .btn:hover {
      box-shadow: 0 2px var(--grey);
      top: -2px;
    }
    .btn:active {
      box-shadow: 0 0px var(--grey);
      top: 0;
    }  
    
    /*Media Queries*/
    @media screen and (max-width: 980px) {
      form .form-group {
        flex: 1 100%;
      }
    
      form .form-group button {
        width: 100%;
      }
    
      .task-list-wrapper {
        flex-basis: 100%;
      }
    
    }