.memberList {
  height: 0px;
}

.caption {
  font-size: 26px;
  font-weight: 300;
}

#memberlist {
  font-size: 18px;
  color: #858888;
}
.dx-datagrid .dx-data-row > td.bullet {
  padding-top: 0;
  padding-bottom: 0;
}

h1 {
font-size: 16px;
text-align: center;
}

body {
    background-color:  black;
    color: lightgray;
    font-size: 48%;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  dx-viewport {
    background-color:  black;
    color: lightgray;
    font-size: 48%;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a href {
    display: none;
    text-decoration: none;
    font-size: 26px;
  }
  
   #buttonContainer {
    background-color: white;
    border: none;
    color: rgb(12, 12, 12);
    text-align: center;
    text-decoration: none;
    display:flexbox;
    margin-left: 750px;
    margin-right: 35px;
    width: 3%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 49%;
  }

  #formButton {
    border: none;
    color: lightgray;
    text-align: center;
    text-decoration: none;
    display:flexbox;
    margin-left: 750px;
    margin-right: 35px;
    width: 3%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:5%;
  }

  #buttonContainer2 {
    background-color: red;
    border: none;
    color: rgb(12, 12, 12);
    text-align: center;
    text-decoration: none;
    display:flexbox;
    margin-left: 750px;
    margin-right: 35px;
    width: 3%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 49%;
  }
    
  form {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }
    
    form input {
      outline: none;
      border: none;
      padding: 12px;
      width: 100%;
      font-size: 2.2rem;
      border: 2px solid var(--grey);
      border-radius: 12px;
    }
    
    form .form-group {
      margin: 10px 6px 10px 0;
      flex: 1;
    }
    
    .btn {
      outline: none;
      border: none;
      display: inline-block;
      padding: 10px 15px;
      background: var(--primary);
      font-size: 2.2rem;
      border-radius: 12px;
      position: relative;
      top: -3px;
      box-shadow: 0 3px var(--grey);
    }
      #buttonContainer {
        min-width: 56px;
        max-height: 56px;
        background-color: #ff5722;
        color: rgba(0,0,0,.87);
        overflow: visible;
        border-radius: 48%;
    }
    
    .widget-container {
      margin-right: 320px;
      padding: 20px;
      max-width: 550px;
      min-width: 300px;
    }
    
    #form {
      margin-top: 25px;
    }
    
    #buttonContainer:hover {
      box-shadow: 0 2px var(--grey);
      top: -2px;
    }
    .btn:active {
      box-shadow: 0 0px var(--grey);
      top: 0;
    }  
    
    /*Media Queries*/
    @media screen and (max-width: 980px) {
      form .form-group {
        flex: 1 100%;
      }
    
      form .form-group button {
        width: 100%;
      }
    }
